body {
    margin: 0;
    font-family: Arial, sans-serif;
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
}
.navbar {
    background-color: #333;
    overflow: hidden;
}
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
.navbar .title {
    float: left;
    font-size: 24px;
    font-weight: bold;
    color: #f2f2f2;
    padding: 14px 20px;
}
.navbar .links {
    float: right;
}
.navbar .links a {
    float: left;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    margin: 5rem;
    background-color: gray;
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card__container {
    padding: 2px 16px;
}

.welcome {
    text-align: center;
}

.description {
    text-align: center;
    width: 60rem;
}

#container__description {
    display: flex;
    margin: 0 auto;
    text-align: center;
    width: max-content;
}

#container__medition {
    display: flex;
    margin: 0 auto;
    text-align: center;
    width: max-content;
}

.btn {
    border: none;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}

.good {background-color: #9bd74e; color: black;} /* Green */
.good:hover {background-color: #9bd74e;}

.moderate {background-color: #f7cc39; color: black;} /* Blue */
.moderate:hover {background: #f7cc39;}

.slightlyunhealthy {background-color: #f88f49; color: black;} /* Orange */
.slightlyunhealthy:hover {background: #f88f49;}

.unhealthy {background-color: #f45d5e; color: black;} /* Red */ 
.unhealthy:hover {background: #f45d5e;}

.veryunhealthy {background-color: #9f70b5; color: black;} /* Gray */ 
.veryunhealthy:hover {background: #9f70b5;}

.hazardous {background-color: #9f6a7b; color: black;} /* Gray */ 
.hazardous:hover {background: #9f6a7b;}

#footer {
    background-color: #333;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}