
<footer id="footer">
	<div class="participantes">
		<div class="white tipo1">
			<h3 class="t30" id="participantes">Equipo encargado</h3>
			<ul class="t20">
				<li>Emiliano Decker</li>
				<li>Emanuel Moreno</li>
				<li>Maximo Sandoval</li>
			</ul>
				<h3 class="t30">Contribuyentes del proyecto</h3>
				<ul class= "t20">
				<li>Cooperativa Malvinas Argentinas</li>
				<li>Escuela Técnica N°3</li>
				<li>Escuela Secundaria N°7</li>
			</ul>
			<div class="contacto">
				<!-- <br><br> -->
				<h3 class="t25" id="contac">Contactos</h3>
				<p><a href="https://instagram.com/pro.colibri?igshid=MzRlODBiNWFlZA==" target="_blank"
						class="tipo1 t19 white"><i class="fa-brands fa-instagram"></i> pro.colibri</a></p>
				<p><a href="tel:+54 11-6867-2720" class="tipo1 t19 white"><i
							class="fa-solid fa-phone tipo1 t19 white"></i> +54 11-6967-2720</a></p>
			</div>

		</div>
	</div>
</footer>
</body>
</html>