<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="descriction" content="aplicacion de proyecto colibri">
    <link rel="stylesheet" href="views/static/css/styles.css">
    <link rel="stylesheet" href="views/static/css/qs.css">
	<link rel="stylesheet" href="views/static/css/qs_movile.css">
    <link rel="stylesheet" href="views/static/css/botellas.css">
    <link rel="stylesheet" href="views/static/css/notificame.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- es para los logos de google icons  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    
    <!--  es para el logito -->
    <title>Colibrí</title>
    <link rel="icon" href="views/static/img/colibsinfondo.png">
</head>

    <body class="tipo1">

        <!-- menu -->
        <header class="black mayuscula">
            <link rel="icon" href="views/static/img/colibsinfondo.png">
        
    <div class="logo t15 tipo1">     
           
        <img src="views/static/img/colibsinfondo.png" width="70px" height="70px">
            Colibrí
    </div>

        <button id="abrir" class="menu_celu_abrir"><i class="fa-solid fa-bars"></i></button>

        <div class="menu t15" id="menu">

            <button class="menu_celu_cerrar" id="cerrar"><i class="fa-solid fa-x"></i></button>
            <ul class="lista black">
                <li class="black"><a href="notificame">Notifícame</a></li>
        </div>
    </header>