<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Air AirQuality</title>

	<link rel="stylesheet" href="views/static/css/styles.css">
</head>
<body>


	<div id="wrapper">
		
		<header>
            <div class="navbar">
                <div class="title">AirQuality</div>
                <div class="links">
                    <a href="#home">Home</a>
                    <a href="#contact">Contact</a>
                    <a href="#login">Login</a>
                </div>
            </div>


			<div class="card">
				<img src="views/static/img/system/plastic_bottle.jpg" alt="Bottle" style="width:100%">
				<div class="card__container">
					<h4><b>Botella 1</b></h4> 
					<p>E.E.S.T N°3</p> 
				</div>
			</div>

		</header>

		<content>

			<div id="window">

				<div id="window__description">

					<h1 class="welcome">Bienvenido a AirQuality</h1>
					<div id="container__description">
						<h3 class="description">Las estaciones que miden la calidad del aire son cruciales para proteger la salud pública y el medio ambiente. Monitorean contaminantes como partículas en suspensión y gases tóxicos, permitiendo identificar fuentes de contaminación y evaluar su impacto. Los datos que recogen ayudan a las autoridades a establecer regulaciones efectivas y a los ciudadanos a tomar decisiones informadas sobre su salud, como evitar actividades al aire libre en días de alta contaminación.</h3>
					</div>
				</div>
				<div id="window__medition">
					<div id="container__medition">
						<button class="btn good">Good</button>
						<button class="btn moderate">Moderate</button>
						<button class="btn slightlyunhealthy">Slightly Unhealthy</button>
						<button class="btn unhealthy">Unhealthy</button>
						<button class="btn veryunhealthy">Very Unhealthy</button>
						<button class="btn hazardous">Hazardous</button>
					</div>
				</div>
			</div>

		</content>

		<footer>

			<div id="footer">
				<p>@deckeremiliano</p>
			</div>
			
		</footer>

	</div>
	
</body>
</html>