.popup {
  display: none; /* Ocultar el popup por defecto */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: white;
  border-radius: 1rem;
  width: 45rem;
  height: 27rem;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.close {
  margin-left: auto; /* Empuja el botón hacia la derecha */
  background: none; /* Elimina el fondo */
  border: none; /* Elimina el borde */
  font-size: 3rem; /* Tamaño del ícono */
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
}

.email {
  padding: 6px;
  font-size: 1.5rem;
  border-width: 1px;
  border-color: #CCCCCC;
  background-color: #FFFFFF;
  color: #000000;
  border-style: solid;
  border-radius: 0px;
  box-shadow: 0px 0px 5px rgba(66,66,66,.75);
  text-shadow: 0px 0px 5px rgba(66,66,66,.75);
}
.email:focus {
  outline:none;
}

.submit {
	background-color:#07393c;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:1.2rem;
	padding:16px 31px;
	text-decoration:none;
}
.submit:hover {
	background-color:#052e30;
}
.submit:active {
	position:relative;
	top:1px;
}


